@charset "UTF-8";
#container_about {
	background-color: #ff3506;
	background-image: url(../img/about/bg.gif);
	background-position:center;
	width: 100%;
	overflow: hidden;
	padding: 5% 0 6% 0;
}
#slider {
	position: relative;
	width: 1000%; /* hack to include all conents */
	max-height: 500px; /* hack to include all conents */
	overflow: hidden;
}
#slider ul {
	position: relative;
	/** hack to adjust for the unknown misalignment */
	margin: 0 0 0 0.05%;
	padding: 0;
	list-style: none;
}
#slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 40vw;
}
#slider ul li img {
	width: 100%;
}
#slider .slide_who_is_ying img {
	width: 100%;
}
#ying_head_container {
	width: 100%;
	margin: -3% 0 0 0;
}
#ying_questioning, #ying_thinking, #ying_creating, #ying_click_me {
	position: relative;
	width: 14vw;
	left: 43vw;
	visibility: visible;
}
#ying_thinking, #ying_creating, #ying_click_me {
	position: absolute;
	visibility: hidden;
}
/**
#slider {
	position: relative;
	overflow: hidden;
}
#slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
	list-style: none;
}
#slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 300px;
	background: #ccc;
	text-align: center;
	line-height: 300px;
}
*/
@media only screen and (max-width: 1000px) {
#container_about {
	padding: 8% 0 6% 0;
}

#slider ul li {
	width: 60vw;
}
#ying_questioning, #ying_thinking, #ying_creating, #ying_click_me {
	width: 20vw;
	left: 40vw;
}
}